* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    text-align: center;
    color: #ffffff !important;

}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    background-color: #ffffff;
}
/*Inicio pagina Datos personales*/
.main_header {
    background-color: #2442b3;
    text-align: center;
    padding: 3%;
    
}

.main_header_nav ul {
    display: flex;
    justify-content: center;
}

.main_header_nav {
    text-align: center;
}




main {
    padding: 2%;
}

.main_h1_curriculum {
    padding: 2%;
    text-align: center;
}

.main_presentacion {
    display: flex;
    justify-content: center;
}

.main_presentacion_caja {
    line-height: 3; 
    display: flex; 
    background-color: #D9D9D9; 
}

.main_presentacion_caja ul {
    list-style: none;
}
.foto_bautista{
    width: 31%;
    height: 79%;
    flex-shrink: 0;
    border-radius: 50%;
    margin: 3%;
    padding-left: 2%;
}
.foto_bautista:hover{
    transform: scale(1.2);
}







.derechos_reservados {

    text-align: center;
    color: #ffffff;
    padding: 1%;
}
.footer{
    background-color: #2442b3;
    bottom: 0px;
    width: 100%;
    position: fixed;
    text-align: center;
    color: #ffffff;
    position: fixed;
}


/*Fin pagina Datos personales*/

/*Inicio pagina estudios*/
.main_estudios_caja{
    line-height: 2;
    display: flex;
    margin: 0%;
    background-color: #D9D9D9;
    padding: 2%;
    align-items: center;
}
.foto_estudios {
    width: 40%;
    flex-shrink: 0;
    margin: 5%;
    padding-left: 4%;
}
.foto_estudios:hover{
    transform: scale(1.2);
}
/*Fin pagina estudios*/

/*Inicio pagina conocimientos*/
.main_conocimientos_caja{
    line-height: 3;
    display: flex;
    margin: 2%;
    background-color: #D9D9D9;
    align-items: center;
}
.main_conocimientos_caja ul {
    list-style: none;
}
.foto_conocimiento {
    width: 42%;
    height: 70%;
    flex-shrink: 0;
    margin: 2%;
    padding-left: 2%;
}
.foto_conocimiento:hover{
    transform: scale(1.2);
}
/*Fin pagina conocimientos*/

/*Inicio pagina competencias*/
.main_competencia_caja{
    line-height: 2;
    display: flex;
    background-color: #D9D9D9;
    padding: 2%;
    align-items: center;
    width: 50%;
}
.main_competencia_caja ul{
    list-style: none;
}
.foto_competencias {
    width: 40%;
    height: 78%;
    flex-shrink: 0;
    margin: 8%;
}
.foto_competencias:hover{
    transform: scale(1.2);
}




/*Fin pagina competencias*/

/*Inicio página trabajo*/
.main_trabajo_caja{
    line-height: 3;
    display: flex;
    background-color: #D9D9D9;
    padding: 2%;
    align-items: center;
}
.main_trabajo_caja ul{
    list-style: none;
}
.foto_trabajo{
    width: 41%;
    flex-shrink: 0;
    border-radius: 167px;
}
.foto_trabajo:hover{
    transform: scale(1.2);
}

/*Fin página trabajo*/


@media(max-width:550px){
    body{
        font-size: 16px;
        font-family: sans-serif;
    }


/*Inicio pagina Datos personales*/
.main_presentacion{
    padding: 10%;
}
.main_presentacion_caja{
    display: flex;
    flex-direction: column-reverse;
    width: 85%;
}
.foto_bautista{
    width: 95%;
    height: 50%;
    padding-left: 0%;
}
/*Fin pagina Datos personales*/

/*Inicio pagina estudios*/
.main_estudios_caja{
    display: flex;
    flex-direction: column-reverse;
}
.foto_estudios{
    width: 75%;
    height: 70%;
}
/*Fin pagina estudios*/

/*Inicio pagina conocimientos*/
.main_conocimientos_caja{
    display: flex;
    flex-direction: column-reverse;
}
.foto_conocimiento{
    width: 60%;
    height: 55%;
}
/*Fin pagina conocimientos*/

/*Inicio pagina competencias*/
.main_competencia_caja{
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
}
.foto_competencias{
    width: 80%;
    height: 40%;
}
/*Fin pagina competencias*/

/*Inicio página trabajo*/
.main_trabajo_caja{
    display: flex;
    flex-direction: column-reverse;
}
.foto_trabajo{
    width: 65%;
    height: 50%;
}
/*Fin página trabajo*/

}